// fonts

$font-primary: 'Playfair Display', serif;
$font-secondary: 'DM Mono', monospace;
$font-third: 'Caladea', serif;

// colors

$clr-primary: #F7B32B;
$clr-secondary: #1E2019;
$clr-third: #E4E8DB;
$clr-fourth: #723A08;

@import "../node_modules/bootstrap/scss/bootstrap";

*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: $font-secondary;
}

html{
	scroll-behavior: smooth;
}

// FOOTER
footer{
	width: 100%;
	background-color: $clr-secondary;
	padding: 1em;
	color: $clr-primary;
	text-align: center;

	div{
		p{
			font-family: $font-primary;
			text-transform: uppercase;
		}
	}
}

// HEADER

// .navbar{
// 	position: fixed;
// 	width: 100vw;
// 	z-index: 999;
// 	background-color: $clr-secondary;

// 	.nav-title{
// 		font-family: $font-primary;
// 		color: $clr-primary;
// 	}
// }

// .nav-link{
// 	font-family: $font-primary;
// }

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: $clr-secondary;
	font-family: $font-primary;
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 6;
	top: 0;

	.logo{
		color: $clr-primary;
		text-transform: uppercase;
		letter-spacing: 3px;

		h4{
			font-family: $font-primary;
			margin-bottom: 0;
			font-size: 1.2em;
		}
	}

	.user-name,
	.logout-button{
		h4{
			font-size: 1em;
		}
	}

	.nav-links{
		position: absolute;
		right: 0;
		top: 8vh;
		height: 80vh;
		width: 60vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 0;
		// width: 55%;
		// text-decoration: none;
		list-style-type: none;
		background-color: $clr-secondary;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		// display: none;

		li{
			opacity: 0;

			.link,
			.user-name,
			.logout-button{
				color: $clr-primary;
				text-decoration: none;
				background: none;
				font-family: $font-secondary;
				text-transform: uppercase;
				text-shadow: 2px 3px black;
			}
		}
	}

	.burger{
		cursor: pointer;

		div{
			width: 1.8em;
			height: 0.12em;
			background-color: $clr-primary;
			margin: 0.3em;
			transition: all 0.3s ease;
		}
	}
	.nav-active{
		transform: translateX(0%);
	}
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle{
	.line1{
		transform: rotate(-45deg) translate(-5px, 6px);
	}
	.line2{
		opacity: 0;
	}
	.line3{
		transform: rotate(45deg) translate(-5px,-6px);
	}
}

// ABOUT

.heading{
	.header-container{
		width: 100vw;
		height: 100vh;

		video{
			width: 100vw;
			height: 100vh;
			object-fit: cover;
		}

		img{
			width: 100vw;
			height: 100vh;
			object-fit: cover;
		}
	}

	.header-text-container{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;

		h1{
			color: $clr-primary;
			text-transform: uppercase;
			font-family: $font-primary;
			text-shadow: 2px 3px black;
		}
	}
}

section{
	min-height: 100vh;
	width: 100vw;

	.about-first-caption{
		// width: 95vw;
		padding: 1em;
		// margin: 0 auto;
		// margin-top: 1em;
		background-color: #E4E8DB;
		// background-color: $clr-secondary;
		// box-shadow: 2px 3px;

		span{
			display: block;
			font-family: $font-primary;
			font-size: 1.5em;
			font-weight: bold;
		}

		hr{
			border: 1px solid #723A08;
		}

		p{
			// color: #5C2409;
			color: #723A08;
			// color: $clr-primary;
			text-align: justify;
			// text-shadow: 1px 1px #000;
			margin: 0;
			font-family: $font-third;
			font-size: 1.05em;
		}
	}

	.first-about-section{
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-auto-rows: auto;

		.first-image{
			position: relative;
			width: 100%;
			height: 100%;
			grid-column: 1/2;

			.overlay1{
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				background-color: rgba(0,0,0,0.7);
				position: absolute;
				z-index: 2;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					color: #FFF;
					font-family: $font-third;
					text-align: justify;
					padding: 1em;
				}
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
		.second-image{
			position: relative;
			width: 100%;
			height: 100%;
			grid-column: 1/2;
			grid-row: 2 span;
			grid-row: 3/5;

			.overlay2{
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				background-color: rgba(0,0,0,0.7);
				position: absolute;
				z-index: 2;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					color: #FFF;
					font-family: $font-third;
					text-align: justify;
					padding: 1em;
				}
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
		.third-image{
			position: relative;
			width: 100%;
			height: 100%;
			grid-column: 1/2;

			.overlay3{
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				background-color: rgba(0,0,0,0.7);
				position: absolute;
				z-index: 2;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					color: #FFF;
					font-family: $font-third;
					text-align: justify;
					padding: 1em;
				}
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
		.fourth-image{
			position: relative;
			width: 100%;
			height: 100%;
			grid-column: 1/2;

			.overlay4{
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				background-color: rgba(0,0,0,0.7);
				position: absolute;
				z-index: 2;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					color: #FFF;
					font-family: $font-third;
					text-align: justify;
					padding: 1em;
				}
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
		.fifth-image{
			position: relative;
			width: 100%;
			height: 100%;
			grid-column: 1/2;

			.overlay5{
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				background-color: rgba(0,0,0,0.7);
				position: absolute;
				z-index: 2;
				display: flex;
				justify-content: center;
				align-items: center;

				p{
					color: #FFF;
					font-family: $font-third;
					text-align: justify;
					padding: 1em;
				}
			}

			img{
				width: 100%;
				height: 100%;
			}
		}
	}

	.second-about-section{
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-auto-rows: auto;

		.mission-card{
			grid-column: 1/2;
			width: 100%;
			max-height: 50vh;
			overflow: hidden;
			background-color: $clr-third;
			padding: 1em;

			hr{
				border: 1px solid #723A08;
			}

			h6{
				color: $clr-fourth;
				font-family: $font-primary;
				font-size: 1.1em;
				font-weight: bold;
			}

			p{
				font-family: $font-third;
				text-align: justify;
				color: $clr-fourth;
			}
		}
		.vision-card{
			grid-column: 1/2;
			width: 100%;
			max-height: 50vh;
			overflow: scroll;
			background-color: $clr-third;
			padding: 1em;

			hr{
				border: 1px solid #723A08;
			}

			h6{
				color: $clr-fourth;
				font-family: $font-primary;
				font-size: 1.1em;
				font-weight: bold;
			}

			p{
				font-family: $font-third;
				text-align: justify;
				color: $clr-fourth;
			}
		}
	}
}

// HOME

section{
	.first-home-section{
		display: flex;
		flex-direction: column;
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: $clr-third;

		.check-in-container,
		.check-out-container,
		.adult-container,
		.child-container,
		.check-button-container{
			display: flex;
			justify-content: center;

			h6,
			input,
			select,
			button{
				font-family: $font-third;
				margin: 0;
				// padding: 0.5em;
				margin-top: 0.3em;
				margin-bottom: 0.3em;
				margin-left: 0.5em;
				width: 50%;
				margin-right: 0.5em;
				color: $clr-fourth;
			}

			button{
				padding: 0.5em;
				color: $clr-primary;
				font-family: $font-primary;
				background-color: $clr-secondary;
			}

			input{
				border-bottom: 1px solid $clr-fourth;
				text-align: center;
				cursor: pointer;
				outline: none;
			}

			select{
				border: 1px solid $clr-fourth;
			}
		}
	}

	.second-home-section{
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-auto-rows: auto;
		grid-row-gap: 20px;

		.room-type-filter-container{
			display: none;
			// display: flex;
			justify-content: space-around;
			align-items: center;
			background-color: $clr-third;
			padding: 0.5em;

			.room-type-title{
				
				h6{
					margin: 0;
					font-family: $font-primary;
					color: $clr-fourth;
				}
			}
			.room-type-select{
				font-family: $font-primary;
				color: $clr-fourth;
				border: 2px solid $clr-fourth;
				padding: 0.3em;

				option{
					font-family: $font-primary;
				}
			}
		}

		.product-container{
			display: flex;
			flex-direction: column;
			grid-column: 1/2;
			width: 90%;
			border: 1px solid $clr-fourth;
			box-shadow: 2px 3px gray;
			margin: 0 auto;

			.image-container{
				width: 100%;
				padding: 1em;

				img{
					width: 100%;
				}
			}

			.content-container{
				padding: 1em;
				display: flex;
				flex-direction: column;
				background-color: $clr-third;

				hr{
					border: 1px solid $clr-fourth;
				}

				.name-container,
				.description-container,
				.price-container,
				.type-container,
				.cart-button-container,
				.book-button-container{
					h6,
					h3,
					p,
					button{
						font-family: $font-primary;
						color: $clr-fourth;

						span{
							font-family: $font-primary;
							font-weight: bold;
						}
					}
				}

				.cart-button-container,
				.book-button-container{
					display: flex;
					justify-content: center;

					button{
						width: 80%;
						background-color: $clr-secondary;
						color: $clr-primary;
						margin: 0.1em;
						padding: 0.5em;
					}
				}
			}
		}
	}
}

// CART

.cart-form-header{
	margin-top: 3em;
	background-color: $clr-third;
	border-bottom: 3px solid $clr-fourth;
	text-align: center;

	h1{
		color: $clr-primary;
		text-shadow: 2px 2px black;
		font-family: $font-primary;
		text-transform: uppercase;
	}
}

section{
	margin-top: 1em;

	table{
		background-color: $clr-secondary;
		
		thead{
			tr{
				th{
					color: $clr-primary;
					font-family: $font-third;
				}
			}
		}
		tbody{
			tr{
				td{
					color: $clr-primary;
					font-family: $font-third;
				}
			}
		}
		tfoot{
			tr{
				td{
					// color: $clr-primary;
					font-family: $font-third;

					button{
						color: $clr-secondary;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.pop-cart-container{
	// display: none;
	position: fixed;
	top: 25vh;
	right: 0;
	z-index: 5;
	background-color: $clr-secondary;
	transform: translateX(100%);
	padding: 0.6em;
	border: 1px solid $clr-primary;
	border-radius: 10%;
	transition: all 0.5s ease-in-out;

	.cart-title-container{
		display: flex;
		// align-items: center;
		width: 100%;
		justify-content: space-around;

		h6{
			color: $clr-primary;
			font-family: $font-primary;
			text-transform: uppercase;
		}

		.click{
			div{
				width: 1.5em;
				height: 0.12em;
				background-color: $clr-primary;
				margin: 0.3em;
				transition: all 0.3s ease;
			}
		}
	}

	.cart-list-container{
		ul{
			list-style-type: none;

			li{
				h6,
				span{
					color: $clr-primary;
					font-family: $font-primary;
				}
			}
		}
	}

	.book-button-popup-container{
		button{
			background-color: #000;
			border: 1px solid $clr-primary;
			border-radius: 15px;
			color: $clr-primary;
			padding: 0.25em;
			font-family: $font-primary;
		}
	}
}

.pop-cart-container-active{
	// display: block;
	transform: translateX(0%);
}

.pop-cart-container-minimize{
	transform: translateX(60%);

	.cart-title-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		// margin-top: 0.7em;

		h6{
			display: none;
			// opacity: 0;
		}

		
	}
}

// CART

.cart-container{
	min-height: 80vh;

	.cart-header{
		width: 90vw;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		h1{
			color: $clr-primary;
			font-family: $font-primary;
			text-align: center;
		}
	}
} 

// LOGIN FORM

.login-register-form{
	min-height: 70vh;
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.login-container,
	.register-container{
		text-align: center;

		h1{
			color: $clr-primary;
			font-family: $font-primary;
			text-shadow: 2px 2px black;
		}
	}

	div{
		width: 100%;

		form{
			.firstname-input-container,
			.lastname-input-container,
			.password-input-container,
			.confirm-password-input-container,
			.email-input-container{
				padding-left: 1em;
				padding-right: 1em;

				label{
					margin: 0;
				}

				input{
					border-bottom: 2px solid $clr-primary;
					width: 100%;
					outline: none;
					font-family: $font-third;
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}
			}

			.submit-input-container{
				padding-left: 1em;
				padding-right: 1em;

				button{
					width: 100%;
					background-color: $clr-secondary;
					font-family: $font-primary;
					color: $clr-primary;
					padding: 0.5em;
					margin-top: 0.5em;
				}


			}
		}
	}
}

// CONTACT US FORM

.login-register-form{
	.contact-header{
		text-align: center;
		h5{
			color: $clr-primary;
			font-family: $font-primary;
			text-shadow: 2px 1px #000;
			font-size: 1.5em;
		}
	}

	.contact-form-container{
		form{
			.contact-name-container,
			.contact-email-container,
			.contact-subject-container,
			.contact-message-container{
				padding-left: 1em;
				padding-right: 1em;

				input{
					width: 100%;
					border-bottom: 2px solid $clr-primary;
					font-family: $font-primary;
					outline: none;
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}

				textarea{
					width: 100%;
					border-bottom: 2px solid $clr-primary;
					font-family: $font-primary;
					outline: none;
					margin-top: 0.5em;
					margin-bottom: 0.5em;
				}
			}

			.contact-button-container{
				padding-left: 1em;
				padding-right: 1em;
				button{
					background-color: $clr-secondary;
					width: 100%;
					color: $clr-primary;
					font-family: $font-primary;
				}
			}
		}
	}
}

.margin{
	margin-bottom: 1em;
}

// TRANSACTIONS / RESERVATIONS 

section{
	.reservation-header{
		margin-top: 3em;
		text-align: center;
		background-color: $clr-third;
		padding-top: 2em;
		padding-bottom: 2em;
		border-bottom: 3px solid $clr-fourth;

		h1{
			color: $clr-primary;
			font-family: $font-primary;
			text-shadow: 2px 2px #000;
		}
	}

	.reservations-body{
		margin-top: 1em;
		margin-bottom: 1em;
		div{
			div{
				border-color: $clr-fourth;
				background-color: $clr-third;

				.card-header{
					margin: 0;

					h2{
						button{
							color: $clr-fourth;
							font-family: $font-third;
							font-weight: bold;
						}
					}
				}

				.card-body{
					table{
						background-color: $clr-secondary;
						tr{
							td{
								font-family: $font-third;
								letter-spacing: 1px;
								color: $clr-primary;
							}
						}
					}
				}
			}
		}
	}
}

// ADMIN PANEL

section{
	min-height: 70vh;
	.admin-panel-header{
		background-color: $clr-third;
		border-bottom: 3px solid $clr-fourth;
		margin-top: 3em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;

		h4,
		h5{
			color: $clr-primary;
			font-family: $font-third;
			text-shadow: 2px 1px #000;
			font-size: 1.5em;
		}
	}

	.admin-panel-body{
		display: flex;
		flex-direction: column;
		margin-top: 1em;

		div{
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 0.25em;
			margin-bottom: 0.25em;

			button{
				width: 90%;
				padding-top: 0.25em;
				padding-bottom: 0.25em;
				background-color: $clr-secondary;
				color: $clr-primary;
				text-transform: uppercase;
			}
		}
	}
}

// PAGINATION

.pagination-container{
	ul{
		list-style: none;
		display: flex;
		width: 50%;
		margin: 0 auto;
		margin-top: 1em;
		margin-bottom: 1em;
		justify-content: space-around;

		li{
			border: 1px solid gray;

			a{
				color: $clr-secondary;
				padding: 0.25em;
			}

			.page-color{
				background-color: $clr-secondary;
				color: $clr-primary;
			}
		}
	}
}


// BUTTONS

#button-hover:hover{
	background-color: $clr-third;
	color: $clr-fourth;
	font-weight: bold;
}

#button-hover2:hover{
	background-color: $clr-primary;
	color: $clr-secondary;
	font-weight: bold;
}


// ADD PRODUCT
.add-product-container{
	width: 100%;

	form{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.add-room-title{
			width: 100%;
			text-align: center;
			background-color: $clr-third;
			border-bottom: 3px solid $clr-fourth;

			h1{
				color: $clr-primary;
				text-shadow: 2px 2px black;
			}
		}

		.product-name,
		.product-price,
		.product-image,
		.product-category,
		.product-description,
		.add-button{
			width: 80%;
			margin-top: 0.5em;
			margin-bottom: 0.5em;

			input{
				width: 100%;
				border-bottom: 2px solid $clr-fourth;
				font-family: $font-primary;
				outline: none;
			}

			textarea{
				width: 100%;
				font-family: $font-primary;
				border-bottom: 2px solid $clr-fourth;
				outline: none;
			}

			select{
				width: 100%;
				font-family: $font-primary;
				border: 2px solid $clr-fourth;
				color: $clr-fourth;

				option{
					font-family: $font-primary;
				}
			}

			button{
				width: 100%;

			}
		}
	}
}


// MEDIA QUERIES

@media only screen and (min-width: 730px){

	nav{
		ul{
			li:hover{
				background-color: rgba(255,255,255,0.8);
				
				.link,
				.user-name,
				.logout-button{
					color: black;
					text-shadow: none;
				}
			}
		}
	}

	.heading{
		.header-container{
			max-width: 100%;
			height: 70vh;

			video{
				width: 100%;
				height: 100%;
				object-fit: none;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.header-text-container{
			top: 40%;
		}
	}

	section{
		width: 100%;

		.about-first-caption{
			width: 100%;
			margin: 0;
			padding-left: 5em;
			padding-right: 5em;
			padding-top: 3em;
			padding-bottom: 3em;

			p{
				width: 100%;
				padding: 0;
				margin: 0;
				text-align: center;
			}
		}

		.first-about-section{
			display: grid;
			grid-template-columns: repeat(8,1fr);
			grid-auto-rows: auto;
			grid-gap: 5px;
			margin-top: 2em;
			margin-bottom: 2em;

			.first-image{
				grid-column: 2/4;
				width: 100%;
				height: 100%;

				.overlay1{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.second-image{
				grid-column: 4/6;
				grid-row: 2 span;
				width: 100%;
				height: 100%;

				.overlay2{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.third-image{
				grid-column: 6/8;
				width: 100%;
				height: 100%;

				.overlay3{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.fourth-image{
				grid-column: 2/4;
				width: 100%;
				height: 100%;

				.overlay4{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.fifth-image{
				grid-column: 6/8;
				width: 100%;
				height: 100%;

				.overlay5{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.first-image:hover,
			.second-image:hover,
			.third-image:hover,
			.fourth-image:hover,
			.fifth-image:hover{
				.overlay1,
				.overlay2,
				.overlay3,
				.overlay4,
				.overlay5{
					opacity: 1;

					p{
						transform: translateY(0px);
					}
				}
			}

		}
	}

	// HOME / BOOK
	#home-section{
		min-height: 20vh;

		.first-home-section{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0;

			.check-in-container,
			.check-out-container,
			.adult-container,
			.child-container,
			.check-button-container{
				display: flex;
				align-items: center;
				width: 100%;
			}
		}
	}
	section{
		.second-home-section{
			.product-container{
				display: flex;
				flex-direction: row;
				align-items: center;

				.image-container{
					width: 30%;

					img{
						width: 100%;
					}
				}

				.content-container{
					width: 70%;
				}
			}
		}
	}

	// LOGIN FORM
	.login-register-form{
		min-height: 93vh;
		width: 60vw;
		margin: 0 auto;
		// margin-top: 3em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.login-container,
		.register-container{
			text-align: center;

			h1{
				color: $clr-primary;
				font-family: $font-primary;
				text-shadow: 2px 2px black;
				font-size: 4em;
			}
		}

		div{
			width: 100%;

			form{
				.firstname-input-container,
				.lastname-input-container,
				.password-input-container,
				.confirm-password-input-container,
				.email-input-container{
					padding-left: 1em;
					padding-right: 1em;

					label{
						margin: 0;
					}

					input{
						border-bottom: 2px solid $clr-primary;
						width: 100%;
						outline: none;
						font-family: $font-third;
						font-size: 1.5em;
						margin-top: 1.5em;
						margin-bottom: 1.5em;
					}
				}

				.submit-input-container{
					padding-left: 1em;
					padding-right: 1em;

					button{
						width: 100%;
						background-color: $clr-secondary;
						font-family: $font-primary;
						font-size: 1.5em;
						color: $clr-primary;
						padding: 0.5em;
						margin-top: 1.5em;
					}
				}
			}
		}
	}

	// CART

	.cart-container{
		min-height: 90vh;
	}

	// ADMIN PANEL

	.admin-panel-container{
		min-height: 85vh;

		.admin-panel-header{
			margin-top: 6em;
		}

		.admin-panel-body{
			display: flex;
			flex-direction: row;
		}
	}
}

@media only screen and (min-width: 992px){
	nav{
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 8vh;
		background-color: $clr-secondary;
		font-family: $font-primary;

		.logo{
			color: $clr-primary;
			text-transform: uppercase;
			letter-spacing: 5px;

			h4{
				font-family: $font-primary;
				margin-bottom: 0;
			}
		}

		.user-name,
		.logout-button{
			h4{
				font-size: 1em;
			}
		}

		.nav-links{
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 0;
			width: 55%;
			text-decoration: none;
			list-style-type: none;
			transform: translateX(0%);
			position: initial;
			flex-direction: row;
			height: auto;

			li{
				opacity: 1;

				.link,
				.user-name,
				.logout-button{
					color: $clr-primary;
					text-decoration: none;
					background: none;
					font-family: $font-secondary;
					font-size: 0.9em;
					padding: 1em;
				}
			}
		}

		.burger{
			display: none;

			div{
				width: 1.8em;
				height: 0.12em;
				background-color: $clr-primary;
				margin: 0.3em;
			}
		}
	}

	section{
		min-height: 80vh;
	}

	.heading{
		.header-container{
			max-width: 100%;
			height: 70vh;

			video{
				width: 100%;
				height: 100%;
				object-fit: none;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.header-text-container{
			top: 40%;
		}
	}

	section{
		width: 100%;

		.about-first-caption{
			width: 100%;
			margin: 0;
			padding-left: 5em;
			padding-right: 5em;
			padding-top: 3em;
			padding-bottom: 3em;

			p{
				width: 100%;
				padding: 0;
				margin: 0;
				text-align: center;
			}
		}

		.first-about-section{
			display: grid;
			grid-template-columns: repeat(8,1fr);
			grid-auto-rows: auto;
			grid-gap: 5px;
			margin-top: 2em;
			margin-bottom: 2em;

			.first-image{
				grid-column: 2/4;
				width: 100%;
				height: 100%;

				.overlay1{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.second-image{
				grid-column: 4/6;
				grid-row: 2 span;
				width: 100%;
				height: 100%;

				.overlay2{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.third-image{
				grid-column: 6/8;
				width: 100%;
				height: 100%;

				.overlay3{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.fourth-image{
				grid-column: 2/4;
				width: 100%;
				height: 100%;

				.overlay4{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.fifth-image{
				grid-column: 6/8;
				width: 100%;
				height: 100%;

				.overlay5{
					opacity: 0;
					transition: all 0.5s ease-in-out;

					p{
						transform: translateY(100px);
						transition: all 0.5s ease-in-out;
					}
				}

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.first-image:hover,
			.second-image:hover,
			.third-image:hover,
			.fourth-image:hover,
			.fifth-image:hover{
				.overlay1,
				.overlay2,
				.overlay3,
				.overlay4,
				.overlay5{
					opacity: 1;

					p{
						transform: translateY(0px);
					}
				}
			}

		}

		.second-about-section{
			display: grid;
			grid-template-columns: repeat(6,1fr);
			grid-row: auto;
			margin-bottom: 1em;
			grid-gap: 10px;

			.mission-card{
				grid-column: 2/4;
				width: 100%;
				height: 100%;
				overflow: none;
			}
			.vision-card{
				grid-column: 4/6;
				width: 100%;
				height: 100%;
				overflow: none;
			}
		}
	}

	// HOME / BOOK

	#home-section{
		min-height: 20vh;

		.first-home-section{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0;

			.check-in-container,
			.check-out-container,
			.adult-container,
			.child-container,
			.check-button-container{
				display: flex;
				align-items: center;
				width: 100%;
			}
		}
	}
	section{
		.second-home-section{
			.product-container{
				display: flex;
				flex-direction: row;
				align-items: center;

				.image-container{
					width: 30%;

					img{
						width: 100%;
					}
				}

				.content-container{
					width: 70%;
				}
			}
		}
	}

	// LOGIN FORM
	.login-register-form{
		min-height: 88.5vh;
		width: 30vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.login-container,
		.register-container{
			text-align: center;

			h1{
				color: $clr-primary;
				font-family: $font-primary;
				text-shadow: 2px 2px black;
				font-size: 3em;
			}
		}

		div{
			width: 100%;

			form{
				.firstname-input-container,
				.lastname-input-container,
				.password-input-container,
				.confirm-password-input-container,
				.email-input-container{
					padding-left: 1em;
					padding-right: 1em;

					label{
						margin: 0;
					}

					input{
						border-bottom: 2px solid $clr-primary;
						width: 100%;
						outline: none;
						font-family: $font-third;
						margin-top: 1.5em;
						margin-bottom: 1.5em;
						font-size: 1.2em;
					}
				}

				.submit-input-container{
					padding-left: 1em;
					padding-right: 1em;

					button{
						width: 100%;
						background-color: $clr-secondary;
						font-family: $font-primary;
						color: $clr-primary;
						padding: 0.5em;
						margin-top: 1.5em;
						font-size: 1.2em;
					}
				}
			}
		}
	}

	.reg-margin{
		margin-top: 4em;
		margin-bottom: 3em;
	}

	.sub-admin-panel{
		display: flex;
	}

	.admin-panel-container{
		.admin-panel-header{
			margin-top: 3.5em;
		}
	}

	// cart
	.cart-form-header{
		margin-top: 4em;
	}
}